lightning
batchgenerators>=0.24
nnunet==1.7.1
scipy
scikit-learn
scikit-image>=0.14
pandas>=0.8.1
nevergrad
dicom2nifti
medpy
SimpleITK
tqdm
loguru
hydra-core>=1.1.0
tensorboard
GitPython
matplotlib
seaborn

